@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
    font-family: var(--font-poppins), system-ui, sans-serif;

}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: var(--font-poppins), system-ui, sans-serif;
}



.editor-container .ql-container {
  min-height: 300px;
  font-size: 1rem;
  font-family: inherit;
}

.editor-container .ql-toolbar {
  background-color: #f8fafc;
  border-bottom: 1px solid #e2e8f0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.editor-container .ql-toolbar.ql-snow .ql-formats {
  margin-right: 1rem;
}

.editor-container .ql-toolbar.ql-snow button:hover,
.editor-container .ql-toolbar.ql-snow button:focus,
.editor-container .ql-toolbar.ql-snow button.ql-active,
.editor-container .ql-toolbar.ql-snow .ql-picker-label:hover,
.editor-container .ql-toolbar.ql-snow .ql-picker-item:hover,
.editor-container .ql-toolbar.ql-snow .ql-picker-item.ql-selected {
  color: #0070f3;
}

.editor-container .ql-container.ql-snow {
  border: none;
}

.editor-container .ql-editor {
  padding: 1.5rem;
  min-height: 300px;
}

.editor-container .ql-editor.ql-blank::before {
  color: #cbd5e1;
  font-style: italic;
}


